@CHARSET "UTF-8";

.event_tab, .event_tab th, .event_tab tr, .event_tab td {
	border : none;
	text-align : center;
}

.event_tab {
	width : 90%;
	margin : auto;
	border-collapse: collapse;
	background : #36333d;
}

.event_tab caption {
	font-size : 1.5em;
}

.event_tab tr {
	height : 30px;
	border : 1px solid #282828;
}

#pagination {
	margin : auto;
}

#teamate, #teamate tr, #teamate td {
	border : 1px solid white;
}


.navbar-nav a:hover{
	color:red;
}

.navbar-nav a:focus{
	color:red;
}