@CHARSET "UTF-8";
.table_std{width: 500px; height: 100px;}
.width_100p{width:100%}
.height_200{height:200px;}

.margin_btm_20{margin-bottom: 20px;}
.margin_top_20{margin-top: 20px;}
.margin_20{margin : 20px;}