@CHARSET "UTF-8";
#three .tabs li {
	list-style:none;
	display:inline;
}
#three .tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#666;
	color:#fff;
	text-decoration:none;
}
#three .tabs a.active {
	background:#fff;
	color:#000;
}
#three .ticket_sub label:hover, #theater_list label:hover, #date_list label:hover, #times_list label:hover {
    background-color: white;
}
#three input[type=radio]:checked + label {
    background-color: black;
}
#three .button:hover {
    background-color: black;
}