@CHARSET "UTF-8";
/* .tabs li {
	list-style:none;
	display:inline;
}
.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#666;
	color:#fff;
	text-decoration:none;
}
.tabs a.active {
	background:#fff;
	color:#000;
} */
.ticket_sub label:hover, #theater_list label:hover, #date_list label:hover, #times_list label:hover {
    background-color: white;
}
input[type=radio]:checked + label {
    background-color: black;
}
.button:hover {
    background-color: black;
}
.seats_seatnum:hover {
	background-color: white;
}

input[type=checkbox]:checked + label {
    background-color: black;
}
