<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.ArticleMapper">
 	 <insert id="write" parameterType="com.hnb.article.ArticleVO">
 	 	INSERT INTO BOARD(RCD_NO,USR_SUBJECT,USR_CONTENT,USR_DATE)
 	 	VALUES(SEQ.NEXTVAL, #{usrSubject}, #{usrContent},SYSDATE)
 	 </insert>
	 
     <select id="selectAll" parameterType="com.hnb.global.Command" resultType="com.hnb.article.ArticleVO">
     	SELECT
     		RCD_NO AS rcdNo,
     		GRP_NO AS grpNo,
     		USR_NAME AS usrName,
     		USR_SUBJECT AS usrSubject,
     		USR_CONTENT AS usrComponent,
     		USR_PASS AS usrPass,
     		USR_FILENAME AS usrFileName,
     		USR_FILESIZE AS usrFileSize,
     		USR_DATE AS usrDate,
     		USR_REFER AS usrRefer,
     		RCD_LEVEL AS rcdLevel,
     		RCD_ORDER AS rcdOrder
     	FROM BOARD ORDER BY rcdNo DESC
     	LIMIT #{start}, 15
     	
     </select>
 
     <select id="selectSomeBy" parameterType="com.hnb.global.Command" resultType="com.hnb.article.ArticleVO">
     	SELECT
     		RCD_NO AS rcdNo,
     		GRP_NO AS grpNo,
     		USR_NAME AS usrName,
     		USR_SUBJECT AS usrSubject,
     		USR_CONTENT AS usrComponent,
     		USR_PASS AS usrPass,
     		USR_FILENAME AS usrFileName,
     		USR_FILESIZE AS usrFileSize,
     		USR_DATE AS usrDate,
     		USR_REFER AS usrRefer,
     		RCD_LEVEL AS rcdLevel,
     		RCD_ORDER AS rcdOrder
 		FROM BOARD WHERE ${column} LIKE CONCAT('%',#{keyword},'%') 
 		ORDER BY rcdNo DESC LIMIT #{start}, 15
     </select>
     
     <select id="selectByRcdNo" parameterType="int" resultType="com.hnb.article.ArticleVO">
     	SELECT
     		USR_NAME AS usrName,
     		USR_MAIL AS usrMail,
     		USR_SUBJECT AS usrSubject,
     		USR_CONTENT AS usrContent
 		FROM BOARD WHERE RCD_NO = #{rcdNo}
     </select>
     
     <select id="count" resultType="int">
     	SELECT COUNT(RCD_NO) FROM BOARD
     </select>
     
     <select id="descSelect" parameterType="com.hnb.article.ArticleVO" resultType="com.hnb.article.ArticleVO">
     	SELECT 
     		RCD_NO AS rcdNo,
     		USR_SUBJECT AS usrSubject,
     		USR_NAME AS usrName,
     		USR_DATE AS usrDate,
     		USR_REFER AS usrRefer
     	FROM BOARD ORDER BY #{rcdNo} DESC	
     </select>
     
     <select id="getPassword" parameterType="int" resultType="string">
     	SELECT USR_PASS FROM BOARD
     	WHERE RCD_NO = #{rcdNo}
     </select>
     
     <select id="countByKeyword" parameterType="com.hnb.global.Command" resultType="int">
     	SELECT COUNT(RCD_NO) FROM BOARD
     	WHERE ${column} LIKE CONCAT('%',#{keyword},'%')
     </select>
     
     <select id="descSelectByKeyword" parameterType="com.hnb.global.Command" resultType="com.hnb.article.ArticleVO">
     	SELECT 
     		RCD_NO AS rcdNo,
     		USR_SUBJECT AS usrSubject,
     		USR_NAME AS usrName,
     		USR_DATE AS usrDate,
     		USR_REFER AS usrRefer
     	FROM BOARD
     	WHERE ${column} '%' || #{keyword} || '%'
     	ORDER BY #{rcdNo} DESC	
     </select>
     
     <update id="update">
     	UPDATE BOARD SET 
     		USR_MAIL = #{usrMail},
     		USR_SUBJECT = #{usrSubject},
     		USR_CONTENT = #{usrContent}
     	WHERE RCD_NO = #{rcdNo} 
     </update>
     
     <update id="updateRefer" parameterType="int">
     	UPDATE BOARD 
     	SET	USR_REFER=USR_REFER+1 
     	WHERE RCD_NO = #{rcdNo}
     </update>
     
     <delete id="delete" parameterType="int">
     	DELETE FROM BOARD
     	WHERE RCD_NO = #{rcdNo}
     </delete>
     
 </mapper>