<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.MemberMapper">
<select id="selectAll" resultType="com.hnb.member.MemberVO" parameterType="com.hnb.global.Command">
 	SELECT 
	 	ID AS id,
	 	PASSWORD AS password,
	 	NAME AS name,
	 	BIRTH AS birth,
	 	GENDER AS gender,
	 	PHONE AS phone,
	 	ADDR AS addr,
	 	EMAIL AS email,
	 	REGDATE AS regdate,
 	FROM (SELECT @rownum:=@rownum+1 AS seq, member.* FROM MEMBER member) AS sum
 	WHERE seq BETWEEN #{start} AND #{end}
 </select>
 <select id="selectSomeBy" resultType="com.hnb.member.MemberVO" parameterType="com.hnb.global.Command">
 	SELECT 
	 	ID AS id,
	 	PASSWORD AS password,
	 	NAME AS name,
	 	BIRTH AS birth,
	 	GENDER AS gender,
	 	PHONE AS phone,
	 	ADDR AS addr,
	 	EMAIL AS email,
	 	REGDATE AS regdate
 	FROM (SELECT ROWNUM AS seq, m.* FROM (
 		SELECT * FROM MEMBER
 		WHERE ${column} LIKE '%' || #{keyword} || '%' <!-- => WHERE NAME LIKE '%홍%' --> 
 	) m)
 	WHERE seq BETWEEN #{start} AND #{end}
 </select>
 
 <select id="selectOneBy" resultType="com.hnb.member.MemberVO" parameterType="string">
 	SELECT
 		ID AS id,
	 	PASSWORD AS password,
	 	NAME AS name,
	 	BIRTH AS birth,
	 	GENDER AS gender,
	 	PHONE AS phone,
	 	ADDR AS addr,
	 	EMAIL AS email,
	 	REGDATE AS regdate,
	 	PROFILE AS profile
 	FROM MEMBER WHERE ID = #{id}
 </select>
 
 <select id="selectByEmail" resultType="com.hnb.member.MemberVO" parameterType="string">
 	SELECT
 		ID AS id,
	 	PASSWORD AS password,
	 	NAME AS name,
	 	BIRTH AS birth,
	 	GENDER AS gender,
	 	PHONE AS phone,
	 	ADDR AS addr,
	 	EMAIL AS email,
	 	REGDATE AS regdate,
	 	PROFILE AS profile
 	FROM MEMBER WHERE EMAIL = #{email}
 </select>
 
 
 <select id="count" resultType="int">
 	SELECT COUNT(*) AS count FROM MEMBER
 </select>
 
 <select id="countByKeyword" resultType="int" parameterType="com.hnb.global.Command">
 SELECT COUNT(*) AS count 
 FROM MEMBER
 WHERE ${column} LIKE '%' || #{keyword} || '%'
 </select>
 
 <insert id="insert" parameterType="com.hnb.member.MemberVO">
 	INSERT INTO MEMBER (ID,PASSWORD,NAME,BIRTH,GENDER,PHONE,ADDR,EMAIL,REGDATE) 
 	VALUES (
	 	#{id},
	 	#{password},
	 	#{name},
	 	#{birth},
	 	#{gender},
	 	#{phone},
	 	#{addr},
	 	#{email},
	 	now()
 	)
 </insert>
 
 <update id="update" parameterType="com.hnb.member.MemberVO">
	UPDATE MEMBER SET 
		PASSWORD = #{password}, 
		PHONE = #{phone}
		WHERE ID = #{id}	
 </update>
 
 <delete id="delete" parameterType="string">
 	DELETE FROM MEMBER WHERE ID = #{id}
 </delete>
 </mapper>