<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.MovieMapper">
      <select id="selectAll" resultType="com.hnb.movie.MovieVO">
      	SELECT 
      	FILM_NUMBER AS filmNumber,
      	FILM_NAME AS filmName,
      	DIRECTOR AS director,
      	ACTOR AS actor,
      	RATE AS rate,
      	RUNTIME AS runtime,
      	PRICE AS price,
      	GENRE AS genre,
      	RELEASE_DATE AS releaseDate,
      	END_DATE AS endDate,
      	STORY AS story,
      	CUT AS cut,
      	TRAILER AS trailer,
      	COUNTRY AS country,
   		T_RATE AS tRate
      	FROM MOVIE ORDER BY T_RATE DESC
      </select>
      <select id="selectNameBy" resultType="com.hnb.movie.MovieVO" parameterType="string">
      SELECT 
        FILM_NUMBER AS filmNumber,
      	FILM_NAME AS filmName,
      	DIRECTOR AS director,
      	ACTOR AS actor,
      	RATE AS rate,
      	RUNTIME AS runtime,
      	PRICE AS price,
      	GENRE AS genre,
      	RELEASE_DATE AS releaseDate,
      	END_DATE AS endDate,
      	STORY AS story,
      	CUT AS cut,
      	TRAILER AS trailer,
      	COUNTRY AS country,
   		T_RATE AS tRate
      FROM MOVIE WHERE FILM_NUMBER = #{filmNumber}
      </select>
	<select id="find" resultType="com.hnb.movie.MovieVO" parameterType="string">
      SELECT 
        FILM_NUMBER AS filmNumber,
      	FILM_NAME AS filmName,
      	DIRECTOR AS director,
      	ACTOR AS actor,
      	RATE AS rate,
      	RUNTIME AS runtime,
      	PRICE AS price,
      	GENRE AS genre,
      	RELEASE_DATE AS releaseDate,
      	END_DATE AS endDate,
      	STORY AS story,
      	CUT AS cut,
      	TRAILER AS trailer,
      	COUNTRY AS country,
   		T_RATE AS tRate
      FROM MOVIE WHERE FILM_NAME LIKE CONCAT ('%',#{filmName},'%')
      </select>
      
      <insert id="insert" parameterType="com.hnb.movie.MovieVO" >
    	INSERT INTO MOVIE
        (FILM_NUMBER,	FILM_NAME,DIRECTOR,ACTOR,RATE,RUNTIME,PRICE,GENRE,RELEASE_DATE,END_DATE,STORY,CUT,TRAILER,COUNTRY,T_RATE)
    	VALUES
      	(#{filmNumber}, #{filmName}, #{director}, #{actor}, #{rate},  #{runtime}, #{price}, #{genre}, #{releaseDate}, #{endDate}, #{story}, #{cut}, #{trailer}, #{country},#{tRate})
  </insert>
  
    <update id="update" parameterType="com.hnb.movie.MovieVO">
    UPDATE MOVIE SET WHERE USERID = #{filmNumber}
      	FILM_NAME = #{filmName},
      	DIRECTOR = #{director},
      	ACTOR = #{actor},
      	RATE = #{rate},
      	RUNTIME = #{runtime},
      	PRICE = #{price},
      	GENRE = #{genre},
      	RELE= #{releaseDate},
      	END_DATE = #{endDate},
      	STORY = #{story},
      	CUT = #{cut},
      	TRAILER = #{trailer},
      	COUNTRY =#{country},
   		T_RATE =#{tRate}
    
  </update>
  
  <delete id="delete" parameterType="string">
  DELETE FROM MOVIE WHERE FILM_NUMBER = #{filmNumber}
  
  
  </delete>
 </mapper>