<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.ScheduleMapper">
     
     <select id="getRateList" resultType="string">
     	SELECT
	     	DISTINCT MOVIE.FILM_NAME AS MOVIENAME
     	FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getAscList" resultType="string">
     	SELECT
	     	DISTINCT MOVIE.FILM_NAME AS MOVIENAME
     	FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getTheaterList" resultType="string">
     	SELECT DISTINCT THEATER.THEATER_NAME AS THEATERNAME 
     	FROM SCHEDULE, THEATER WHERE SCHEDULE.THEATER_SEQ = THEATER.THEATER_SEQ ORDER BY SCHEDULE.THEATER_SEQ ASC
     </select>
     <select id="getShowDateList" resultType="string">
     	SELECT
	     	DISTINCT SHOW_DATE
     	FROM SCHEDULE ORDER BY SHOW_DATE ASC
     </select>
 </mapper>