<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.ScheduleMapper">
     
     <select id="getRateList" resultType="string">
     	SELECT
	     	DISTINCT MOVIE.FILM_NAME AS MOVIENAME
     	FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getAscList" resultType="string">
     	SELECT
	     	DISTINCT MOVIE.FILM_NAME AS MOVIENAME
     	FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getTheaterList" resultType="string">
     	SELECT DISTINCT THEATER.THEATER_NAME AS THEATERNAME 
     	FROM SCHEDULE, THEATER WHERE SCHEDULE.THEATER_SEQ = THEATER.THEATER_SEQ ORDER BY SCHEDULE.THEATER_SEQ ASC
     </select>
     <select id="getShowDateList" resultType="string">
     	SELECT DISTINCT SHOW_DATE
     	FROM SCHEDULE ORDER BY SHOW_DATE ASC
     </select>
     
	<select id="getTheaterListByMD" resultType="string" parameterType="map">
		SELECT DISTINCT THEATER.THEATER_NAME
		FROM (SELECT DISTINCT SCHEDULE.THEATER_SEQ AS THEATERSEQ FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND MOVIE.FILM_NAME = #{movie} AND SCHEDULE.SHOW_DATE = #{date} AND SEAT_STATUS > 0) AS TS, THEATER
		WHERE TS.THEATERSEQ = THEATER.THEATER_SEQ ORDER BY THEATER.THEATER_NAME ASC
     </select>
     <select id="getShowDateListByMT" resultType="string" parameterType="map">
		SELECT DISTINCT SCHEDULE.SHOW_DATE AS SHOWDATE 
		FROM SCHEDULE, MOVIE 
		WHERE SCHEDULE.FILM_NUMBER = (SELECT DISTINCT FILM_NUMBER FROM MOVIE WHERE FILM_NAME = #{movie}) AND SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER_SEQ FROM THEATER WHERE THEATER_NAME = #{theater}) AND SEAT_STATUS > 0 ORDER BY SCHEDULE.SHOW_DATE ASC
     </select>
     <select id="getTheaterListByM" resultType="string" parameterType="string">
		SELECT DISTINCT THEATER.THEATER_NAME
		FROM (SELECT DISTINCT SCHEDULE.THEATER_SEQ AS THEATERSEQ FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND MOVIE.FILM_NAME = #{movie} AND SEAT_STATUS > 0) AS TS, THEATER
		WHERE TS.THEATERSEQ = THEATER.THEATER_SEQ ORDER BY THEATER.THEATER_NAME ASC
     </select>
     <select id="getShowDateListByM" resultType="string" parameterType="string">
		SELECT DISTINCT SCHEDULE.SHOW_DATE AS SHOWDATE 
		FROM SCHEDULE, MOVIE 
		WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER and MOVIE.FILM_NAME = #{movie} AND SEAT_STATUS > 0 ORDER BY SCHEDULE.SHOW_DATE ASC
     </select>
     
     <select id="getMovieRateByTD" resultType="string" parameterType="map">
		SELECT DISTINCT MOVIE.FILM_NAME AS MOVIENAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER.THEATER_SEQ AS THEATERSEQ FROM THEATER WHERE THEATER.THEATER_NAME = #{theater}) AND SHOW_DATE = #{date} AND SEAT_STATUS > 0 ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getMovieAscByTD" resultType="string" parameterType="map">
     	SELECT DISTINCT MOVIE.FILM_NAME AS MOVIENAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER.THEATER_SEQ AS THEATERSEQ FROM THEATER WHERE THEATER.THEATER_NAME = #{theater}) AND SHOW_DATE = #{date} AND SEAT_STATUS > 0 ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getMovieRateByT" resultType="string" parameterType="string">
     	SELECT DISTINCT MOVIE.FILM_NAME AS MOVIENAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER.THEATER_SEQ AS THEATERSEQ FROM THEATER WHERE THEATER.THEATER_NAME = #{theater}) AND SEAT_STATUS > 0 ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getMovieAscByT" resultType="string" parameterType="string">
		SELECT DISTINCT MOVIE.FILM_NAME AS MOVIENAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER.THEATER_SEQ AS THEATERSEQ FROM THEATER WHERE THEATER.THEATER_NAME = #{theater}) AND SEAT_STATUS > 0 ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getShowDateListByT" resultType="string" parameterType="string">
		SELECT DISTINCT SCHEDULE.SHOW_DATE AS SHOWDATE FROM SCHEDULE, MOVIE WHERE SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER.THEATER_SEQ AS THEATERSEQ FROM THEATER WHERE THEATER.THEATER_NAME = #{theater}) AND SEAT_STATUS > 0 ORDER BY SCHEDULE.SHOW_DATE ASC
     </select>
     
     <select id="getMovieRateByD" resultType="string" parameterType="string">
		SELECT DISTINCT MOVIE.FILM_NAME AS MOVIENAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND SHOW_DATE = #{date} AND SEAT_STATUS > 0 ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getMovieAscByD" resultType="string" parameterType="string">
		SELECT DISTINCT MOVIE.FILM_NAME AS MOVIENAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND SHOW_DATE = #{date} AND SEAT_STATUS > 0 ORDER BY MOVIE.FILM_NAME ASC
     </select>
     <select id="getTheaterListByD" resultType="string" parameterType="string">
		SELECT THEATER.THEATER_NAME AS THEATERNAME FROM THEATER, (SELECT DISTINCT THEATER_SEQ FROM SCHEDULE WHERE SHOW_DATE = #{date} AND SEAT_STATUS > 0) AS TS WHERE THEATER.THEATER_SEQ = TS.THEATER_SEQ ORDER BY THEATER.THEATER_NAME
     </select>
     
     <select id="getTimeList" resultType="string" parameterType="string">
		SELECT DISTINCT SCHEDULE.SHOW_TIME AS SHOWTIME, SCHEDULE.ROOM_NAME AS ROOMNAME FROM SCHEDULE, MOVIE WHERE SCHEDULE.FILM_NUMBER = MOVIE.FILM_NUMBER AND MOVIE.FILM_NAME = #{movie} AND SCHEDULE.THEATER_SEQ = (SELECT DISTINCT THEATER.THEATER_SEQ AS THEATERSEQ FROM THEATER WHERE THEATER.THEATER_NAME = #{theater}) AND SCHEDULE.SHOW_DATE = #{date} AND SEAT_STATUS > 0 ORDER BY SCHEDULE.SHOW_DATE ASC
     </select>
 </mapper>