<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="com.hnb.mapper.TicketMapper">
	<insert id="book" parameterType="com.hnb.ticket.TicketVO">
		INSERT INTO TICKET (ID,PASSWORD,NAME,BIRTH,GENDER,PHONE,ADDR,EMAIL,REGDATE) 
		VALUES (
			#{id},
			#{password},
			#{name},
			#{birth},
			#{gender},
			#{phone},
			#{addr},
			#{email},
			now()
		)
	</insert>
</mapper>